.chat-main__message-list{
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 35px 40px 0;
  .tweet{
    margin-bottom: 46px;
    &-name__box {
      height: 18px;
      margin-bottom: 12px;
      .tweet-name{
        line-height: 18px;
        height: 18px;
        font-weight: bold;
        float: left;
      }
      .carrender{
        font-size: 12px;
        color: #999999;
        float: left;
        margin-left: 15px;
      }
    }
    &__box{
      height: 16px;
      margin-bottom: 46px;
      font-size: 16px;
      color: #434a54;;
      .message{
        height: 16px;
        width: 500px;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
  
}
