.chat-main__message-list{
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 35px 40px 0;
  padding-bottom: 40px;
  overflow: scroll;
  .message{
    margin-bottom: 46px;
    .upper-message {
      height: 18px;
      margin-bottom: 12px;
      .upper-message__user-name{
        line-height: 18px;
        height: 18px;
        font-weight: bold;
        float: left;
      }
      .upper-message__date{
        font-size: 12px;
        color: #999999;
        float: left;
        margin-left: 15px;
      }
    }
    .lower-message{
      margin-bottom: 46px;
      font-size: 16px;
      color: #434a54;;
      .lower-message__content{
        height: 16px;
        font-size: 14px;
        line-height: 16px;
        .lower-message__image{
          .img{
          width: 200px;
          height: 200px;
          }
        }
      }
    }
  }
} 

