.chat-main__message-form{
  height: 90px;
  background-color: #d2d2d2;
  padding: 20px 40px;
  width: 100%;
  display: flex;
  float: left;
  .message-form{
    width: 100%;

  .new_message{
    display: flex;
    height: 50px;
    width: 100%;
    position: relative;

    .message1{
      height: 50px;
      padding: 0 40px 0 10px;
      width: 100%;
    }
    .icon-image{
      position: absolute;
      top: 10px;
      right: 140px;
      font-size: 20px;
      cursor: pointer;
      .hidden{
        display: none;
      }
    }
    .submit-btn{
      margin-left: 15px;
      height: 50px;
      width: 100px;
      padding: 0 30px;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
    }
  }
}
}